---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date: "%b %-d %Y" }}</span>
  {{ content }}
</div>

{% if page.tags != empty %}
  {% assign sorted_tags = page.tags | sort %}
  <div>
    <b>Tags: </b>
    {% for tag in sorted_tags %}
      <small><a href="{{ site.baseurl }}/taglist/#{{ tag }}">{{ tag }}</a>{% unless forloop.last %}, {% endunless %}</small>
    {% endfor %}
  </div>
{% endif %}

<div class="pagination">
  {% if page.previous.url %}
    <a class="pagination-item older" href="{{ site.baseurl }}{{ page.previous.url }}">Previous</a>
  {% else %}
    <span class="pagination-item older">Previous</span>
  {% endif %}
  <a class="pagination-item" href="{{ site.baseurl }}/postlist/">Post List</a>
  {% if page.next.url %}
    <a class="pagination-item newer" href="{{ site.baseurl }}{{ page.next.url }}">Next</a>
  {% else %}
    <span class="pagination-item newer">Next</span>
  {% endif %}
</div>
